<!-- Extend layout -->
{% extends "layout.html" %}

{% block body %}
<!--Update navbar-->
<script>document.getElementById("view").className += "Active";</script>

  <h3>Workout List</h3>
  <div class="col-lg-12">
      {% for i in json_obj['com.garmin.connect.workout.dto.BaseUserWorkoutListDto']['baseUserWorkouts'] %}
      	<input type='button' onclick="location.href='download/{{ i['workoutId']|string }}';" value='Download' />
      	<input type='button' onclick="location.href='delete/{{ i['workoutId']|string }}';" value='Delete' />
      	{{i['workoutName'].encode('ascii', 'ignore').decode('ascii')}}
      	<br>
      {% endfor %}
      <br>
      <button id="show-workout-list-json">Show Workout List JSON</button>
      <div id="workout-list-json-field">
        <textarea name='result' rows='20' cols='80'>{{result}}</textarea>
      </div>
  </div>

<script src="{{ url_for('static', filename='text-area-helpers.js') }}"></script>
{% endblock %}