<!-- Extend layout -->
{% extends "layout.html" %}

{% block body %}
<!--Update navbar-->
<script>document.getElementById("scheduled").className += "dropdown active";</script>

<h3>Scheduled Workouts</h3>
<br>
<div id='calendar'></div>

<div class="col-lg-12">
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('scheduledworkouts') }}">
        {{ render_field(scheduled_workouts_form.start_date) }}
        {{ render_field(scheduled_workouts_form.end_date) }}
        <br>
        <input type="submit" value="Filter by Date"/>
    </form>
    <table class="table table-striped table-bordered table-hover" style="font-size: 80%;">
        <tr>
            <td><b>Date</b></td>
            <td><b>Plan ID</b></td>
            <td><b>Workout ID</b></td>
            <td><b>Schedule ID</b></td>
            <td><b>Workout Name</b></td>
            <td><b>Delete</b></td>
        </tr>
        {% for i in json_obj['ExportableWorkoutScheduleResult']['workoutScheduleList'] %}
        {% if 'ExportableWorkoutSchedule' in i %}
        <tr>
            <td style="width:20%">{{i['ExportableWorkoutSchedule']['calendarDate'].encode('ascii',
                'ignore').decode('ascii')}}
            </td>
            <td style="width:8%">{{i['ExportableWorkoutSchedule']['trainingPlanId']}}</td>
            <td style="width:12%">{{i['ExportableWorkoutSchedule']['workoutId'].encode('ascii',
                'ignore').decode('ascii')}}
            </td>
            <td style="width:12%">{{i['ExportableWorkoutSchedule']['scheduleId'].encode('ascii',
                'ignore').decode('ascii')}}
            </td>
            <td>{{i['ExportableWorkoutSchedule']['workoutName'].encode('ascii',
                'ignore').decode('ascii')}}
            </td>
            <td style="width:8%"><input type='button'
                                        onclick="location.href='deletescheduledworkout/{{ i['ExportableWorkoutSchedule']['scheduleId']|string }}';"
                                        value='Delete'/></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <button id="show-schedule-json">Show Workout List JSON</button>
    <div id="schedule-json-field">
        <textarea name='result' rows='20' cols='80'>{{result}}</textarea>
    </div>
</div>

<script src="{{ url_for('static', filename='text-area-helpers.js') }}"></script>


<link href='static/fullcalendar-2.6.0/fullcalendar.css' rel='stylesheet'/>
<link href='static/fullcalendar-2.6.0/fullcalendar.print.css' rel='stylesheet' media='print'/>
<script src='static/fullcalendar-2.6.0/lib/moment.min.js'></script>
<script src='static/fullcalendar-2.6.0/lib/jquery.min.js'></script>
<script src='static/fullcalendar-2.6.0/fullcalendar.js'></script>

<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			defaultDate: '{{ today }}',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{% for i in json_obj['ExportableWorkoutScheduleResult']['workoutScheduleList'] %}
                {% if 'ExportableWorkoutSchedule' in i %}
                    {
                    title: '{{ i['ExportableWorkoutSchedule']['workoutName'].encode('ascii','ignore').decode('ascii') }}',
                    start: '{{ i['ExportableWorkoutSchedule']['calendarDate'].encode('ascii','ignore').decode('ascii') }}',
                    url: 'https://connect.garmin.com/proxy/workout-service-1.0/json/workout/{{ i['ExportableWorkoutSchedule']['workoutId'].encode('ascii','ignore').decode('ascii') }}'
                    },
                {% endif %}
                {% endfor %}
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2018-01-28'
				}
			]
		});

	});

</script>
<style>
    body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    }
    #calendar {
    max-width: 900px;
    margin: 0 auto;
    }
</style>

{% endblock %}